body {
    margin: 0;
    position: relative;
    background-color: #588eb1;
}

.topImg {
    position: relative;
    background-color: #d1d1d1;
    height: 50%;
    z-index: -100;
    text-align: center;
}

.container {
    position: relative;
    margin: 0%;
    background-color: #588eb1;
}

p {
    font-family: "Raleway", sans-serif;
    color: #333;
    margin: 2% 2%;
    z-index: 100;
}

p2 {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #333;
    display: inline-block;
    margin-left: calc(2% + 7px);
}

p3 {
    font-family: "Raleway", sans-serif;
    color: whitesmoke;
    margin: 10px 10px;
    z-index: 100;
}

p4 {
    display: inline-block;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 420%;
    top: 13.5%;
    color: #444;
    z-index: 100;
    position: fixed;
    transform: translate(-50%);
}

p5 {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 170%;
    top: 26%;
    color: #444;
    z-index: 100;
    position: fixed;
    transform: translate(-50%);
}

p6 {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    color: #444;
    z-index: 400;
    position: fixed;
    transform: translate(-50%);
}

h1 {
    color: #111;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(-0%);
    position: absolute;
}

.whiteFont {
    color: whitesmoke;
    margin-left: calc(2% + 5px);
}

.line {
    background-color: black;
    height: 2px;
    margin: 0px 5%;
}

.button {
    background-color: transparent;
    color: #333;
    font-family: "roboto";
    font-size: 20px;
    font-weight: 500;
    border: 3px solid #333;
    border-radius: 32px;
    padding: 5px 25px;
    cursor: pointer;
    outline:0;
}

.button:hover {
    color: #588eb1;
    background-color: #333;
    transition-duration: .3s;
}

.post {
    background-color: #7eb0d0;
    border-radius: 4px;
    margin: 2% 5%;
    padding: 0% 0% 1% 0%;
    box-shadow: 4px 4px 0px 0 rgba(0, 0, 0, 0.1);
}

.postHead {
    padding: 20px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #d1d1d1;
    text-align: center;
}

.postContainer {
    display: inline-block;
    margin: 4% 0%;
}

.bottomBar {
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 1.3%;
}

.transparentBar {
    background-color: black;
    height: 6%;
    width: 100%;
    position: fixed;
    width: 100%;
    bottom: 0%;
    opacity: .8
}

img {
    display:inline-block
}

.containerBtn {
    text-align: center;
    margin-bottom: 20%;
}

.topBar {
    background-color: #37474f;
    height: 13%;
    width: 100%;
    position: absolute;
}

.head {
    text-align: center;
}

form {
    margin: 20px 20px;
    text-align: center;
}

textarea {
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    width: 80%;
    padding: 6px;
    outline: none;
    border: 2px solid #b9c3cb; 
    background-color: #eef9fd;
    border-radius: 5px;
}

.text_body {
    height: 20%;
}

.customTextarea {
    font-family: "Raleway", sans-serif;
    height: 1em;
    width: 1em;
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    color: #f1f1f1;
    outline:0;
}

.navbar span {
    color: #f1f1f1;
    display: inline-block;
    padding: 14px 20px 10px 20px;
    border-bottom: 4px solid transparent;
}

.navbar span:hover {
    border-bottom: 4px solid white;
    transition-duration: .4s;
}

.navbar span:active {
    color: #f1f1f1;
}

.navbar {
    width:104%;
    overflow-x: hidden;
    background-color: #ec8558;
    position: sticky;
    width: 100%;
    z-index: 200;
    box-shadow: 0px 4px 0px 0 rgba(0, 0, 0, 0.1), 0px -4px 0px 0 rgba(0, 0, 0, 0.1);
}

.commentBox {
    width: 50%;
    margin: 50px auto 120px auto;
}

button.accordion {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    border-radius: 4px;
    background-color: #d1d1d1;
    border: none;
    outline: none;
    text-align: center;
    padding: 15px 20px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0 rgba(0, 0, 0, 0.1);
}

.interior {
    transform: translateX(12.5%);
    width: 80%;
}

.exterior {
    transform: translateX(-8.4%);
    width: 120%;
}

button.accordion:hover {
    background-color: skyblue;
    transition-duration: .3s;
}

button.accordion::after {
    content: '\f055';
    font-family: "fontawesome";
    font-size: 24px;
    color: #333;
    float: right;
}

button.accordion.status-open::after {
    content: '\f056';
}

.accordionContent {
    overflow: hidden;
    max-height: 0px;
    transition: max-height .4s ease-in-out;
}

.fixed {
    position: fixed;
    top: 0%;
}

.navHolder {
    height: 0px;
}

.space {
    height: 37px
}

.hidden {
    display: none;
    z-index: 100;
    text-align: center;
}

.boxImg {
    background-image: url(ball.png);
    background-size: auto 90%;
    z-index: 400;
    height: 50%;
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    animation: blur-fade-in 4s;
}

.idReg {
    display: none;
}

.deleteButton {
    text-align: center;
    height: 20px;
    width: 20px;
    float: right;
    margin-right: 2%;
    background-color: transparent;
    border: 0px solid transparent;
}

.deleteButton::after {
    content: '\f1f8';
    font-family: "fontawesome";
    font-size: 19px;
    color: #333;
}

.deleteButton:hover {
    color: #fff;
    transition-duration: .5s;
}

.img-size {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2%;
    border-radius: 4px;
    box-shadow: 4px 4px 0px 0 rgba(0, 0, 0, 0.1);
    background-color: #d1d1d1;
    image-rendering: pixelated;
}

.comment-post {
    margin: 0px 5% 2% 5%;
}

.comment-post::before {
    font-family: "fontawesome";
    content: '\f101';
}

.special {
    width: 70%;
}
#id_post_image {
    font-family: "raleway", sans-serif;
}

#up-button {
    font-family: "fontawesome";
    background-color: transparent;
    border: none;
    color: #c1c1c1;
    font-size: 120%;
    float: right;
    margin-right: 1%;
    outline:0;
}

#up-button::after {
    content: "\f062";
} 

#up-button:hover {
    color: #fff;
    transition-duration: .5s;
}

#home::before {
    font-family: "fontawesome";
    content: "\f015";
}

#news::before {
    font-family: "fontawesome";
    content: "\f1ea";
}

#download::before {
    font-family: "fontawesome";
    content: "\f019";
}

@-webkit-keyframes blur-fade-in {
    from {filter: blur(4px);}
    to {filter: blur(0px);}
}

@keyframes blur-fade-in {
    from {filter: blur(4px);}
    to {filter: blur(0px);}
}