body {
    margin: 0;
}

.container {
    margin: 0%;
    background-color: #588eb1;
}

p {
    font-family: "roboto";
    color: #333;
    margin: 10px 10px;
    z-index: 100;
}

p2 {
    font-size: 16px;
    font-family: "roboto";
    color: #333;
    display: inline-block;
    margin-left: calc(2% + 10px);
}

p3 {
    font-family: "roboto";
    color: whitesmoke;
    margin: 10px 10px;
    z-index: 100;
}

h1 {
    color: #111;
    font-family: "roboto";
    font-weight: 100;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(-0%);
    position: absolute;
}

.whiteFont {
    color: whitesmoke;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1em; 
  text-indent: -.7em;
}

li::before {
  content: "• ";
  color: whitesmoke; /* or whatever color you prefer */
}

.line {
    background-color: black;
    height: 2px;
    margin: 0px 5%;
}

.button {
    background-color: transparent;
    color: #333;
    font-family: "roboto";
    font-size: 20px;
    font-weight: 500;
    border: 3px solid #333;
    border-radius: 32px;
    padding: 5px 25px;
    
}

.button:hover {
    color: #588eb1;
    background-color: #333;
    transition-duration: .3s;
}

.post {
    background-color: #7eb0d0;
    border-radius: 4px;
    padding: 0px 0px;
    margin: 2% 5%;
    padding: 0% 0% 1% 0%;
    box-shadow: 4px 4px 0px 0 rgba(0, 0 , 0, 0.1);
}

.postHead {
    padding: 20px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #d1d1d1;
    text-align: center;
   

}

.postContainer {
    display: inline-block;
    margin: 4% 0%;
    
}

.bottomBar {
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 1.3%;
}

.transparentBar {
    background-color: black;
    height: 6%;
    width: 100%;
    position: fixed;
    width: 100%;
    bottom: 0%;
    opacity: .8
}

img {
    display:inline-block
}

.containerBtn {
    text-align: center;
    margin-bottom: 20%;
}

.topBar {
    background-color: #37474f;
    height: 13%;
    width: 100%;
    position: absolute;
}

.head {
    text-align: center;
}

form {
    margin: 20px 20px;
    text-align: center;
}

textarea {
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    width: 40%;
    outline: none;
    border: 2px solid #b9c3cb; 
    background-color: #eef9fd;
    border-radius: 4px;
}

.text_body {
    height: 20%;
}

.customTextarea {
    font-family: "roboto";
    height: 1em;
    width: 1em;
}

a {
    text-decoration: none;
    font-family: "roboto";
    font-size: 100%;
    font-weight: 500;
    color: #f1f1f1;
}


.navbar span {
    display: inline-block;
    padding: 14px 20px;
}

.navbar span:hover {
    background-color: #d77347;
    color: #f1f1f1;
    transition-duration: .4s;
}

.navbar span:active {
    color: #f1f1f1;
}


.navbar {
    background-color: #ec8558;
    position: fixed;
    width: 100%;
    z-index: 200;
    box-shadow: 4px 4px 0px 0 rgba(0, 0 , 0, 0.1);
}
.accordionButton {
    color: whitesmoke;
    border: 0px solid transparent;
    border-radius: 16px;
    display: inline-block;
    float: right;
    padding: 4px 8px;
    margin-right: 2%;
    background-color: #777;
}


.accordionButton:hover {
    background-color: #aaa;
    transition-duration: .5s;
}

.icon {
    height: 40px;
    width: 40px;
    margin-bottom: -12px;
    margin-right: 5px;
    margin-left: 15px;
    background-image: url(computer.png);
    background-size: 100% 100%;
    display: inline-block;
    
}