{% load static %}
<link href="{% static 'accounts/style.css' %}" rel="stylesheet" type="text/css" />
<body>
    
    <div class="post">
        {% block content %}
        {% if profile_user.profile_pic %}
        <div class="box-profile">
            <img src="{{ profile_user.profile_pic.url }}" class="profile-size">
        </div>
        {% endif %}
        <div class="box-profile" >    
        <p9>
            {{ profile_user.username }}
        </p9>
        </div>
        <div class="box-edit" >    
            {% if current_user.is_authenticated and current_user == profile_user %}
            <form  enctype="multipart/form-data" action="{% url 'accounts:edit_profile' slug=profile_user %}" method="post" class="form-profile">  
                {% csrf_token %}
                {{ edit_form.as_p }}
                <input type="submit" class="button" value="Edit"/> 
            </form>
        {% endif %}
        </div>
        <div class="line">
        </div>
        <br>
        {% if profile_user.bio %}
        <p>
            {{ profile_user.bio }}
        </p>
        {% else %}
        {% endif %}
        <p>
            This user has no bio
        </p>
        {% endblock %}
    </div>
</body>