{% include 'blog/head.html' %}

{% block content %}
<body>
    <div class="post">
        <div class="post-head-post"> 
            <p2 class="individual"> 
                {{ individual_post.title }} published by {{ individual_post.poster.username }}
            </p2> 
            <form  enctype="multipart/form-data" action="{% url 'blog:delete_post' slug=individual_post.post_url %}" method="post" class="form-post">        
                {% csrf_token %}
                {{ form_delete_post.as_p }}
                <input type="submit" class="delete-button" value="Remove"/> 
            </form> 
        </div>
        <p> 
        Published on {{ individual_post.published_date.date }}
        </p>
        {% if individual_post.post_image %}
            <img src="{{ individual_post.post_image.url }}" class="img-size">
        {% endif %}
        <p> 
            {{ individual_post.post_text }} 
        </p>
        <div class="like-box">
            {{ individual_post.post_likes }}
            <a href="{% url 'blog:post_vote' vote=1 pk=individual_post.id %}" class="up-vote-button">
            </a>
        </div>
        
        <div class="LINE"></div>
        <p style="font-size: 120%;"> Comments </p>
        {% for comment in comment_list %} 
            {% if comment.parent_id == individual_post.id and not comment.comment_delete_status %}
                <div class="comment-box">
                    <p class="comment-p">
                        {{ comment.comment_text }} 
                        <a href="{% url 'blog:delete_comment' pk=comment.id %}" class="delete-button-comment" id="delete_comment"> 
                        </a>
                    </p>
                    <p>
                    - {{ comment.commenter.username }}
                    </p>
                    <div class="like-box">
                        {{ comment.comment_likes }}
                        <a href="{% url 'blog:comment_vote' vote=1 pk=comment.id %}" class="up-vote-button">
                        </a>
                    </div>
                </div>
                <br>
            {% endif %}
        {% endfor %}
        <div class="commentBox">
            <button class="accordion interior"> 
                    Make a Post
            </button>
            <div class="accordionContent">
                <form  enctype="multipart/form-data" action="{% url 'blog:make_comment' individual_post.id %}" method="post" class="form-main">    
                    {% csrf_token %}
                    {{ form_comment.as_p }}
                    <input type="submit" class="button"/> 
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    {% include 'blog/script.html' %}
</body>
{% endblock %}