<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>
        Home of Constantius
    </title>
    <style>
    </style>
    <link href="{% static 'blog/style.css'%}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="{% static 'blog/computer.png'%}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topImg">
        <div class="boxImg">
            <div class="hidden">
                <p4>
                    Welcome!
                </p4>
                <p5>
                    influenced by flat design
                </p5>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="navbar" align="center">
            <a href="#home" id="home">
                <span> 
                    Home
                </span>
            </a>   
            <a href="#news" id="news">
                <span> 
                    News
                </span>
            </a>
            <a href="{% static 'blog/download/test.zip' %}" id="download" download>
                <span> 
                    Download
                </span>
            </a>
            {% if current_user.is_authenticated %}
            <a href="{% url 'accounts:see_account' slug=current_user.username %}" id="profile">
                <span> 
                    {{ current_user.username }}
                </span>
            </a>
            {% else %}
            <a href="{% url 'accounts:login' %}" id="log-in" >
                <span> 
                    Login
                </span>
            </a>
            {% endif %}
        </div>
        <div class="navHolder"> 
        </div>
        <div class="body-class">
        <div class="side-left">
            {% for post in blog_post_list %}
                {% if not post.post_delete_status %}
                <a href="{% url 'blog:see_post' slug=post.post_url %}" class="highlight">
                    {{ post.title }}
                </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="side-right">
        {% block content %}
            {% for post in blog_post_list %}
                {% if not post.post_delete_status %}
                <div class="post">
                    <div class="post-head" id="{{ post.post_url}}" style="text-align: center;"> 
                        <p2>
                            {{ post.title }} published by {{ post.poster.username }}
                        </p2>
                    </div>
                    <script>
                    $(function () {
                        $("#{{ post.post_url }}").click(function() {
                            window.location.href="{% url 'blog:see_post' slug=post.post_url %}"
                            return False;
                        });
                    });
                    </script>
                    <p> 
                        {{ post.post_text }} 
                        {% if post.post_image %}
                            <img src="{{ post.post_image.url }}" class="img-size">
                        {% endif %}
                    </p>
                </div>
                {% endif %}
            {% endfor %}
        {% endblock %}
        {% if current_user.is_admin or current_user.is_staff %}
        <div class="commentBox">
            <button class="accordion exterior"> 
                    Make a Post
            </button>
            <div class="accordionContent">
                <form  enctype="multipart/form-data" action="{% url 'blog:make_post' %}" method="post" class="form-main">         
                    {% csrf_token %}
                    {{ form_post.as_p }}
                    <input type="submit" class="button"/> 
                </form>
            </div>
        </div>    
        {% endif %}
        </div>
        <button id='up-button'></button>
        </div>
    </div>
    <script src="{% static 'blog/main.js' %}"></script>
    <script>
    $(function(){
        
    });
    $(window).scroll( function() {
        var windowDivHeight = $('.topImg').height();
        console.log(windowDivHeight)
        if ($(this).scrollTop() > windowDivHeight){  
            $('.navbar').addClass("fixed");
            $('.navHolder').addClass("space");
        }
        else{
            $('.navbar').removeClass("fixed");
            $('.navHolder').removeClass("space");
        }
    });   
    </script>
</body>
</html>